body {
    color: #333333;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header {
    background-color: #efefef;
}

h1 {
    color: violet;
    margin: 0;
}

.title {
  color: #02ccba;
}

.fa-twitter {
    color:#55acee;
}

.fa-youtube {
    color: #ff0000;
}