@charset "utf-8";
body {
    color: #333333;
    font-family: Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #d6d8ff;
    padding: 32px 0;
}

.header_container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: none;
}

.icon img {
    border-radius: 50%;
    /* border-width: 4px;
                border-style: solid;
                border-color: white; */
    border: 4px solid white;
}

.info {
    /* background-color: tomato; */
    margin: 0 0 0 32px;
}

.info h1 {
    font: 24px normal;
    /* font-weight: normal;
                font-size: 24px; */
    margin: 0;
}

.info p {
    margin: 0 0 16px 0;
    padding: 0;
}

.info ul {
    margin: 0;
    list-style: none;
    display: flex;
}

.info ul li {
    margin: 0 8px 0 0;
}

.name {
    color: purple;
}

.fa-twitter {
    color: #55acee;
    vertical-align: middle;
}

.fa-twitter:hover {
    opacity: 0.7;
}

.fa-youtube {
    color: #ff0000;
    text-decoration: line-through black double;
    /* text-decoration-color: black;
                text-decoration-style: double; */
    vertical-align: middle;
    opacity: 0.5;
}

nav ul {
    list-style: circle;
}

main {
    padding: 40px 0;
}

.service {
    width: 800px;
    margin: 0 auto;
}

.service>h1 {
    /* font-weight: normal;
    font-size: 24px; */
    font: 24px normal;
    text-align: center;
    margin: 60px 0;
}

.service>section {
    margin: 0 0 60px 0;
    display: flex;
}

.service>section>div {
    margin: auto 20px;
}

.service section h1 {
    font-weight: normal;
}

.service p {
    line-height: 1.8;
}

.service section img {
    padding: 30px 10px;
    border: 4px solid gray;
    border-radius: 10%;
}

.service section img:hover {
    opacity: 0.7;
}

.shiyousyo_title {
    width: fit-content;
    padding: 0 20px;
    text-decoration: none;
}

.miscellaneous_notes {
    width: fit-content;
    margin: 30px 0;
    padding: 10px 30px;
    /* font-size: large;
    font-family: monospace; */
    border: 1px solid black;
    transition-property: border-radius, background;
    transition: .3s;
    transition-timing-function: ease-out;
}

.miscellaneous_notes:hover {
    background-color: #eee;
    border-radius: 50%;
    transform: translate(10px) scale(1.4);
}

.wf-roundedmplus1c {
    font: larger;
    font-family: "M PLUS Rounded 1c";
}

hr {
    margin: 0;
    color: gray;
}

aside {
    background-color: #d6d8ff;
    padding: 0 0 0 30px;
}

.top {
    width: fit-content;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

a {
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 14px;
    margin: 60px 0 60px 0;
    color: gray;
}

.practice_container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.practice {
    margin: 30px 0 0 0;
    padding: 30px 0;
    background-color: rgb(230, 230, 230);
}

.practice_title {
    text-align: center;
}

.practice_title>h1 {
    width: fit-content;
    margin: 0 auto;
    padding: 5px 30px;
    border: 1px solid black;
    border-radius: 39px 0;
}

.practice_title>p {
    margin: 0;
}

.list {
    text-align: left;
}

.list ul {
    list-style: square inside;
    /* list-style-position: inside; */
}

.list ol {
    list-style: lower-alpha;
}

.table {
    margin: 0 auto;
}

pre {
    height: 70px;
    margin: 0;
}

.form {
    flex-direction: column;
}

.password {
    margin: 3px;
    border: 1px solid yellow;
}

.box_practice {
    margin: 10px 100px;
}

.box1 {
    background: coral;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.box2 {
    background: cornflowerblue;
    width: 50%;
    height: 50%;
    overflow-x: scroll;
    border-left: 10px solid blue;
    border-right: 10px solid blue;
    position: relative;
    top: 30px;
    left: 40px;
    z-index: 1;
    box-sizing: border-box;
}

.box3 {
    background: crimson;
    width: 100px;
    height: 40px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.box4 {
    background: cornflowerblue;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 30px;
    right: 30px;
}

.box5 {
    background-color: pink;
    width: calc((100% - 40px) / 3);
    height: 50px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 10px 5px rgba(0, 0, 0, 0.3);
}

.box6 {
    background-color: pink;
    width: calc((100% - 40px) / 3);
    height: 50px;
    margin: 0 auto;
    box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3);
}

.box7 {
    background-color: pink;
    width: calc((100% - 40px) / 3);
    height: 50px;
    margin-left: auto;
    box-shadow: 10px 5px 3px 10px rgba(0, 0, 0, 0.3);
    /* text-shadowの影の拡大は無効になる */
    text-shadow: 10px 5px 3px 10px rgba(0, 0, 0, 0.3);
}

.background_practice {
    margin: 20px 0;
    height: 80px;
    background: center/cover palevioletred url(img/nagafuji.jpg);
}

.selector h1::before, h2::before {
    content: "- ";
}

.selector h1::after, h2::after {
    content: attr(data-subtitle);
}

.btn {
    width: 100px;
    background-color: skyblue;
    text-align: center;
    margin: 0 10px;
    padding: 4px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.nth_child> :nth-child(odd) {
    background-color: pink;
}

.nth_child> :nth-child(even) {
    background-color: lightgreen;
}

.nth_child> :nth-child(3n) {
    background-color: skyblue;
}

.nth_child> :first-child {
    background-color: red;
}

.nth_child> :last-child {
    background-color: blue;
}

.nth_of_type>h2:nth-of-type(3) {
    background: limegreen;
}

.nth_of_type>h2:first-of-type {
    background: palevioletred;
}

.not li:not(:empty) {
    background: skyblue;
}

.sample1 {
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    cursor: pointer;
    transition: 0.8s;
    margin: 8px;
    text-align: center;
    line-height: 100px;
}

/* .circle */

.win {
    background-color: pink;
    border-radius: 50%;
    transform: rotate(360deg);
}

.lose {
    transform: scale(0.9);
}