@charset "utf-8";
:root {
    --theme_color: #d6d8ff;
}

body {
    width: auto;
    color: #333333;
    font-family: Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--theme_color);
    padding: 20px 0;
}

.header_container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.icon {
    background-color: none;
}

.icon img {
    border-radius: 50%;
    /* border-width: 4px;
                border-style: solid;
                border-color: white; */
    border: 4px solid white;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info h1 {
    font: 24px normal;
    /* font-weight: normal;
            font-size: 24px; */
    margin: 0;
}

.info p {
    display: inline-block;
    padding: 0 0 0 30px;
}

.info ul {
    margin: 0;
    padding: 0 0 0 30px;
    list-style: none;
    display: flex;
}

.info ul li {
    margin: 0 8px 0 0;
}

.name {
    color: purple;
}

.fa-twitter {
    color: #55acee;
    vertical-align: middle;
}

.fa-twitter:hover {
    opacity: 0.7;
}

.fa-youtube {
    color: #ff0000;
    text-decoration: line-through black double;
    /* text-decoration-color: black;
                text-decoration-style: double; */
    vertical-align: middle;
    opacity: 0.5;
}

nav ul {
    list-style: circle;
}

.service {
    width: fit-content;
    margin: 0 auto;
}

.service_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service>div>h1 {
    /* font-weight: normal;
    font-size: 24px; */
    font: 24px normal;
    text-align: center;
    margin: 30px 0;
}

.loading {
    width: 12px;
    height: 12px;
    border: 5px solid #ccc;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin .8s infinite linear;
}

@keyframes spin {
    from {
        transform: none;
    }
    to {
        transform: rotate(360deg);
    }
}

.service>section {
    margin: 0 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service>section>div {
    margin: auto 20px;
}

.service section h1 {
    font-weight: normal;
}

.service p {
    line-height: 1.8;
}

.service section img {
    padding: 30px 10px;
    border: 4px solid gray;
    border-radius: 10%;
}

.service section img:hover {
    opacity: 0.7;
}

.shiyousyo_title {
    width: fit-content;
    padding: 0 20px;
    text-decoration: none;
}

.miscellaneous_notes {
    width: fit-content;
    margin: 30px 0;
    padding: 10px 30px;
    /* font-size: large;
    font-family: monospace; */
    border: 1px solid black;
    transition-property: border-radius, background;
    transition: .3s cubic-bezier(0.18, 0.89, 0.38, 1.68) .1s;
}

.miscellaneous_notes:hover {
    background-color: #eee;
    border-radius: 50%;
    transform: translate(10px) scale(1.4);
}

.wf-roundedmplus1c {
    font: larger;
    font-family: "M PLUS Rounded 1c";
}

hr {
    margin: 0;
    color: gray;
}

aside {
    background-color: var(--theme_color);
    padding: 0 0 0 30px;
}

.top {
    width: fit-content;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

a {
    text-decoration: none;
}

.message {
    width: 300px;
    padding: 8px 16px;
    background-color: #b84ac7;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 30px;
    bottom: 40px;
    animation: popup 2s forwards;
}

@keyframes popup {
    0% {
        transform: translateY(20px);
        opacity: 0;
        animation-timing-function: ease-out;
    }
    20%, 80% {
        transform: none;
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
        pointer-events: none;
    }
}

footer p {
    text-align: center;
    font-size: 14px;
    margin: 60px 0 60px 0;
    color: gray;
}

.practice_container {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.practice {
    margin: 30px 0 0 0;
    padding: 30px 0;
    background-color: rgb(230, 230, 230);
}

.practice_title {
    text-align: center;
}

.practice_title>h1 {
    width: fit-content;
    margin: 0 auto;
    padding: 5px 30px;
    border: 1px solid black;
    border-radius: 39px 0;
}

.practice_title>p {
    margin: 0;
}

.list {
    text-align: left;
}

.list ul {
    list-style: square inside;
    /* list-style-position: inside; */
}

.list ol {
    list-style: lower-alpha;
}

.table {
    margin: 0 auto;
}

pre {
    height: 70px;
    margin: 0;
}

.form {
    flex-direction: column;
}

.password {
    margin: 3px;
    border: 1px solid yellow;
}

.box_practice {
    margin: 10px 100px;
}

.box1 {
    background: coral;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.box2 {
    background: cornflowerblue;
    width: 50%;
    height: 50%;
    overflow-x: scroll;
    border-left: 10px solid blue;
    border-right: 10px solid blue;
    position: relative;
    top: 30px;
    left: 40px;
    z-index: 1;
    box-sizing: border-box;
}

.box3 {
    background: crimson;
    width: 100px;
    height: 40px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.box4 {
    background: cornflowerblue;
    width: 100px;
    height: 50px;
    position: fixed;
    top: 30px;
    right: 30px;
}

.box5 {
    background-color: pink;
    width: calc((100% - 40px) / 3);
    height: 50px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 10px 5px rgba(0, 0, 0, 0.3);
}

.box6 {
    background-color: pink;
    width: calc((100% - 40px) / 3);
    height: 50px;
    margin: 0 auto;
    box-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 10px 5px 3px rgba(0, 0, 0, 0.3);
}

.box7 {
    background-color: pink;
    width: calc((100% - 40px) / 3);
    height: 50px;
    margin-left: auto;
    box-shadow: 10px 5px 3px 10px rgba(0, 0, 0, 0.3);
    /* text-shadowの影の拡大は無効になる */
    text-shadow: 10px 5px 3px 10px rgba(0, 0, 0, 0.3);
}

.background_practice {
    margin: 20px 0;
    height: 80px;
    background: center/cover palevioletred url(img/nagafuji.jpg);
}

.selector h1::before, h2::before {
    content: "- ";
}

.selector h1::after, h2::after {
    content: attr(data-subtitle);
}

.btn {
    width: 100px;
    background-color: skyblue;
    text-align: center;
    margin: 0 10px;
    padding: 4px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.nth_child> :nth-child(odd) {
    background-color: pink;
}

.nth_child> :nth-child(even) {
    background-color: lightgreen;
}

.nth_child> :nth-child(3n) {
    background-color: skyblue;
}

.nth_child> :first-child {
    background-color: red;
}

.nth_child> :last-child {
    background-color: blue;
}

.nth_of_type>h2:nth-of-type(3) {
    background: limegreen;
}

.nth_of_type>h2:first-of-type {
    background: palevioletred;
}

.not li:not(:empty) {
    background: skyblue;
}

.animation_icon {
    width: 100px;
    height: 100px;
    background-color: indigo;
    margin: 0 0 0 30px;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation: move 2s 1s infinite alternate linear;
}

@keyframes move {
    0% {
        transform: none;
    }
    80% {
        transform: translateX(200px) rotate(360deg);
    }
    100% {
        transform: translateX(300px) rotate(360deg);
    }
}

.grid1 {
    display: grid;
    /* grid-template-columns: 100px 1fr 2fr; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-rows: 100px 100px; */
    grid-auto-rows: 100px;
    gap: 10px 20px;
}

.grid1 .box_1 {
    background: hsl(0, 60%, 60%);
    grid-row: 2;
    grid-column: 2 / span 2;
}

.grid1 .box_2 {
    background: hsl(60, 60%, 60%);
}

.grid1 .box_3 {
    background: hsl(120, 60%, 60%);
}

.grid1 .box_4 {
    background: hsl(180, 60%, 60%);
}

.grid1 .box_5 {
    background: hsl(240, 60%, 60%);
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-auto-flow: column dense;
    grid-auto-columns: 100px;
}

.grid2 .box_1 {
    background: hsl(0, 60%, 60%);
}

.grid2 .box_2 {
    background: hsl(60, 60%, 60%);
    grid-row: span 2;
    grid-column: span 2;
}

.grid2 .box_3 {
    background: hsl(120, 60%, 60%);
    grid-row: span 2;
    grid-column: span 2;
}

.grid2 .box_4 {
    background: hsl(180, 60%, 60%);
}

.grid2 .box_5 {
    background: hsl(240, 60%, 60%);
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas: "r r r y y" "r r r y y" "c c g y y" "c c b . .";
}

.grid3 .box_1 {
    background: hsl(0, 60%, 60%);
    grid-area: r;
}

.grid3 .box_2 {
    background: hsl(60, 60%, 60%);
    grid-area: y;
}

.grid3 .box_3 {
    background: hsl(120, 60%, 60%);
    grid-area: g;
}

.grid3 .box_4 {
    background: hsl(180, 60%, 60%);
    grid-area: c;
}

.grid3 .box_5 {
    background: hsl(240, 60%, 60%);
    grid-area: b;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    width: 400px;
    height: 300px;
    background: #eee;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.grid4>div {
    width: 50px;
    height: 50px;
}

.grid4 .box_1 {
    background: hsl(0, 60%, 60%);
    justify-self: start;
    align-self: start;
}

.grid4 .box_2 {
    background: hsl(60, 60%, 60%);
}

.grid4 .box_3 {
    background: hsl(120, 60%, 60%);
}

.grid4 .box_4 {
    background: hsl(180, 60%, 60%);
}

.grid4 .box_5 {
    background: hsl(240, 60%, 60%);
}

.sample1 {
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    cursor: pointer;
    transition: 0.8s;
    margin: 8px;
    text-align: center;
    line-height: 100px;
}

/* .circle */

.win {
    background-color: pink;
    border-radius: 50%;
    transform: rotate(360deg);
}

.lose {
    transform: scale(0.9);
}

@media (min-width: 600px) {
    .info {
        display: block;
        /* background-color: tomato; */
        margin: 0 0 0 32px;
    }
}

@media (min-width: 800px) {
    header {
        padding: 32px 0;
    }
    main {
        padding: 40px 0;
    }
    .service>div>h1 {
        margin: 50px 0;
    }
}